---
episode: 132
title: Melbourne, Hackerspace & Calibration - Vacuuous Vortex Verification
url: https://theamphour.com/the-amp-hour-132-vacuuous-vortex-verification/
---

**Chris Gammell:** This is the M-Hour Podcast, recorded February 11th, 2013. Episode 132, Vacuous Vortex Verification.

**Dave Jones:** Welcome to the Amp Hour. I'm Dave Jones from the EEV blog.

**Chris Gammell:** And I'm Chris Gammell of Chris Gammell's Analog Life.

**Dave Jones:** What's up, nerd?

**Chris Gammell:** Welcome back, nerd.

**Dave Jones:** Thank you very much. I went on my little nerdy trip to Melbourne.

**Chris Gammell:** Yeah, it was quite nerdy.

**Dave Jones:** The whole one-hour plane flight. I actually got out of the real world. Which I don't get to do much these days. I'm actually talking to people. Real humans, you know, as opposed to you, who I've never met. You could be like a, you know.

**SPEAKER_02:** I could. We need to do the Turing test.

**Dave Jones:** Yeah, exactly. Yes.

**Chris Gammell:** Bleep blorp, bleep blorp.

**Dave Jones:** Did you hear about the new Alan Turing doco? No. Yeah. I don't have details on it. You mentioned Turing there, and it just popped into my head. Yeah, I just saw yesterday that there's some Alan Turing documentary. And there's actually a trailer for it that I watched, and it looks really good. Yeah.

**Chris Gammell:** Yeah, I'll have to check that out.

**Dave Jones:** Huh.

**Chris Gammell:** It's... That kind of stuff's usually awesome. Yeah.

**Speaker ?:** Yeah, exactly.

**Chris Gammell:** I mean, obviously, the Turing story is incredibly sad in general, just how it was treated. Yeah, that's right. But, you know, these kind of historical things about technology, like, that's actually another thing on the list here, too. There's a series that PBS, which is like the public television in the U.S., they're doing this huge series in Silicon Valley right now. And I started watching it at lunch one day. Awesome. Is it about the history?

**Dave Jones:** Is it like a chronological... Yeah.

**Chris Gammell:** All about this. So there's preview, there's chapter one, in the 60s, noise goes to Silicon Valley, the Wild West. I mean, so this is, like, continuing going on. And maybe this is old. Maybe I'm just finding this now. Oh, right. I started watching it, and it is spectacular. I was like, I have to turn this off right now, not because it was lunch, but because I knew I would just keep watching. Right. Yeah. And you'd waste your hold. Yep. Yeah. And so they're starting from, like, where Silicon Valley doesn't exist, and then going from, like, the Trader S8, and, you know, the whole Fairchild... Is it Fairchild? Yeah. Yes. And then noise and intel, and yeah, every direction that it goes, so... Oh. Very cool stuff.

**Dave Jones:** I've got to get it. Okay. Please send me details.

**Chris Gammell:** It's all free online. Well, we'll put the... Oh.

**Dave Jones:** Yeah. Done. PBS, man. Okay. There goes the rest of my day. Okay, so all PBS stuff is actually... Every PBS show is available online, is it?

**Chris Gammell:** I don't know about all of it. I think...

**Dave Jones:** To Australians, because often they limit that shit to Yanks only.

**Chris Gammell:** Oh. Well, I'm sure we can find some way for overseas people to get it, but... No, you can also purchase it, too, if... Because there's Watch Online, and then there's DVDs, and they have ads and stuff. Which is weird, because in the States, PBS is publicly supported, so, like, there's no ads. But now, going online, it starts to... But whatever. Right. You know, I'm used to that stuff. That's all right.

**Dave Jones:** It doesn't matter.

**Chris Gammell:** Sweet Silicon Valley nuggets of wisdom.

**Dave Jones:** So, yes, I'm back from Melbourne. Yeah. So, how was it?

**Chris Gammell:** What did you do over there?

**Dave Jones:** I did a few things. The main reason for going was to visit the new Agilent... Well, to see Agilent's new mobile calibration truck called the... Well, shipping container. Sorry. Officially called the Voskow, but unofficially called the TARDIS, which I'm not supposed to say that, because that's not in... Yeah. That's not official in any way. No one's listening. Yeah. Yeah. No, exactly. And it was very cool. Yes. Is it because it's blue? Is that why? Yeah. Well, it's blue and white, yes. And it's bigger on the inside than it appears. Oh, because it expands outwards. It expands outwards. Yes. So, it's... The name is very apt, and it replaces their old one. So, it's very cool.

**Chris Gammell:** I had talked to some people on Twitter about that kind of same thing for, like, doing that for, like, a mobile workshop, like CNC machines and, you know, like, laser cutters, doing that kind of thing in there. And apparently there's a couple out there, but nothing, like, there's no, like, you know, a school could buy one yet. Right. So, hopefully that kind of thing will happen eventually, because I think that's a really good form factor, you know?

**Dave Jones:** Right. Like a shipping container kind of thing. But they're very expensive, too. So, are you talking about one that sort of goes onto a site for, like, six months or something? Or are you talking, like, you convert a bus or something? See, that'd be cool. Yeah, no, no, no. Like, if it was truly portable, you know? Right, yeah.

**Chris Gammell:** The portable would be nice, but you'd probably need to hook stuff up to it. I mean, like, hooking three phases up to a bus might be kind of wonky. A huge ground strap off the wheels or something. Yeah. Yeah. But it's a cool form factor. I really like when that kind of thing happens. But you're right, to transport a shipping container isn't cheap. No, it's not.

**Dave Jones:** It's very, yeah, it's very expensive. And there's actually not much room in a shipping container, like, width-wise. Because they actually had one before, and it was, like, just a regular, you know, they just got a regular 20-year-old shipping container they bought on eBay or something for, you know, $50. And they converted it into a cow lab, and there was no room in there to breathe, you know? It was by the time you got all the rack gear in there and everything. And I've posted photos of all the rack gear, and you'll see video as well. And if you imagine a 20-foot-long shipping container with one side of it just completely filled, you know, floor-to-ceiling with rack gear. $3 million worth of gear, by the way, in that shipping container. Yep.

**Chris Gammell:** Is it just, like, standard corrugated steel?

**Dave Jones:** No, no, no. They had it specially, you know, specially insulated and all that sort of stuff. And, of course, they had it heavily modified so it could expand out on these rails. Right, right, right. So, you know, it's much more luxurious in there.

**Chris Gammell:** What's the ventilation like? Was it pretty noisy and crazy? I mean...

**Dave Jones:** No, no, no. It was... Well, it's air-con, of course, but... Well, you didn't really... I mean, you didn't notice the air-con over all the fans in the racks going. So, you know... Yeah, yeah, yeah. Yeah. The air-con was...

**Chris Gammell:** Okay, so it just vents internally. There's no, like, external venting like data centers do or anything crazy like that?

**Dave Jones:** Oh, I... No, no, no. Well, no, I don't think so. There's just an air-con on the wall inside, you know. That's kind of... Yeah. So, but...

**Chris Gammell:** It's kind of crazy because... Because if you do... If you do that kind of... Like, air quality does matter for that kind of stuff. I mean... I've heard stories about, like, test gear coming back from, like, really rough environments and just being, like, completely coated inside, you know. Oh, yeah. Just like gunk.

**Dave Jones:** Yep. It's... They've got it... The temperature has to be in a cow lab like this to get certification. It has to be within a 5 degree C window. And a... Humidity matters, right? Yeah, and humidity. 30 to 80% window or something like that. So, yeah, it has to... So, if you go to a place which is completely dry with no humidity, then that's, you know, hard because you've got to actually get it up there. Yeah. Or if you go to a place with 100% humidity, well, you know, you've got to get it down.

**Chris Gammell:** So, yeah.

**Dave Jones:** But, yeah, they did the job well.

**Chris Gammell:** Calibration's not easy, you know. No. Especially when you get up into the...

**Dave Jones:** Especially in something that's, you know, a metal box, which if you put it in the middle of the Australian Outback, right, which is where they send this thing, you could fry eggs on the top of this thing, right? Yeah. So, you know... That's the reason they insulate it, right? Yeah, that's the reason it's fully insulated.

**Chris Gammell:** Keep the hot out, keep the... Yep. Keep the cool in.

**Dave Jones:** So, they said even without the aircon on, it's pretty, you know, fairly decent inside. But, of course, you know, all that rack gear takes, you know, is expending a lot of heat. So, if you turned off all the gear, it'd actually be quite nice inside because it's all...

**Chris Gammell:** Yeah.

**Dave Jones:** Insulated and stuff. But, yeah, no, you turn on $3 million worth of test equipment and, yep. And, of course, they just power it all up, you know. Yeah. Like... Why is it $3 million?

**Chris Gammell:** Is it because of RF gear? Is that what really gets it up there? I mean, I just tried to imagine $3 million. Oh, yeah, yes.

**Dave Jones:** Yeah, this is... I don't know if it's the only portable Cal Lab in the world that's rated to 50 gig, but... No, 60 gig, I think. Ooh, dang. So, it's rated from, you know... It's rated all the way from DC to 60 gig. So, yeah, it's very... Like, most Cal Labs won't go... You know, they'll go to 300 megahertz or, you know, something like that.

**Chris Gammell:** Okay, so now the real question. Why the hell do they need this in the Outback? I mean, why don't you just ship your 50 gig, you know, spectrum analyzer to a lab in Sydney?

**Dave Jones:** Because it takes time. If you've got a lot of gear, then your entire production facility or your radar or something else goes down. You know, these are used in, you know... Why is it used in the Outback? Well, you know, there's lots of sort of, you know, secret military installations. Even we have them here. Mostly US.

**Chris Gammell:** Yes, take that. Conspiracy theorist.

**Dave Jones:** And, you know, they have to send them out on site. Because, like, you know, when you buy... You know, if you've just got a regular production facility and you're using, you know, 100 buck multimeters and stuff like that, or $1,000 bits of gear, right? You can afford to buy spares. So that, you know, you sort of send one... You swap them out. Yeah, you swap them out and send them away for cow. But when you're using, you know, a $200,000 network analyzer, you know, spares are... You know, it's not that cheap to keep those spares.

**Chris Gammell:** You've got to ask your boss. We get a spare of this, right, boss? Yeah, yeah. Of course. We need it.

**Dave Jones:** Yeah, it's... Cheap at twice the price, yeah.

**SPEAKER_02:** Yeah.

**Dave Jones:** What was it from... Famously from the movie Contact, why build one when you can build two for twice the price? You know, that's a famous quote from Contact. I love that. Yeah. You know, why build $1 trillion bit of gear when you can build two for... Yeah.

**Chris Gammell:** It's a stimulus program. Exactly. Well, that's cool, man. Yeah, it's nice. Are they doing any of the gear... Are they calibrating any of the gear for the square kilometer array at all? Probably. I would assume so, yeah. You didn't ask these questions?

**Dave Jones:** I mean, should I have given you a list before you went? Yeah, you probably should have. You know, I had a list as well, and of course I didn't follow it, you know. Of course, right. Yeah, you know, because in the heat of the moment, you're, you know. Right. Everything goes out the window. In the heat of a metal box. Yeah, yeah, exactly.

**Chris Gammell:** Do they go all the way over to Perth? Yeah. Yeah? Oh, yeah? The whole country?

**Dave Jones:** Yeah, yeah. It goes all around the country. It's all around the country. They ship it.

**Speaker ?:** Yep.

**Dave Jones:** They put it on a truck, and off it goes, or a train, or whatever, and off it goes. Hmm. Because, of course, you can't fly a shipping container on a plane, you know, so it's all road freight. I'm sure you could. Well, maybe. It would be cheap, though. Maybe if you had one of those big Russian Antonovs. Oh, yeah. Yeah, right. You know, if the customer wanted to pay for it, yeah. Hire an Antonov or a, you know.

**Chris Gammell:** Yeah, tomorrow.

**Dave Jones:** Galaxy Starlifter or whatever it is.

**Chris Gammell:** Yeah.

**Dave Jones:** Yeah.

**Chris Gammell:** Well, I saw you also met someone from the Raspberry Pi Foundation in your little hackerspace video.

**Dave Jones:** Yes, I went to the Melbourne hackerspace. That was the last minute thing. I turned up unannounced. I just thought, ah, I'm in Melbourne. Eh, why not? I'll jump on a train. Took me bloody an hour and a half to get there, but.

**Chris Gammell:** Yeah.

**Dave Jones:** But, yeah.

**Chris Gammell:** I think it's a great idea when you're traveling to go visit hackerspaces, try and visit, you know, if you can get tours of places, and anything like that. You know, it's just good to, because you'll meet people that are like-minded. Even if there's nothing going on, you'll meet people.

**Dave Jones:** Yeah, exactly. Exactly. And, yeah, there was Alex, the head software developer for the Raspberry Pi, just hanging out at the hackerspace, helping someone fix his mobile phone, you know. I mean, it's great. Well, he was, the reason he's in the country, he's from the UK, of course. He was in Canberra giving a talk on the Raspberry Pi, so he thought, oh, I came all the way to Australia from England, you know, I might as well see the place. So he decided to go to Melbourne, and, yeah, and he just turned up at the hackerspace, and he's going to Sydney. So I assume he'll go to the Sydney hackerspace as well. And he, yeah, he thinks the same thing, right? You travel to a new city? Well, you're a nerd, what are you going to do? Yeah, go where the nerds are. Yeah, exactly. Visit a hackerspace.

**Chris Gammell:** Why not? Hope there's beer. If not, go out for beer afterwards.

**Dave Jones:** Right.

**Chris Gammell:** Or tea, or soda, whatever you need to do.

**Dave Jones:** Yeah. And it's fantastic. That's good. And everyone that's there, you know, Jonathan Oxer, who we've had on the show from Freetronics, he was there. And Andy, who founded the hackerspace, who's doing one of the biggest Kickstarter projects of all time, that Wi-Fi Life Expo, which we've talked about. Yeah. You know, that came out of the Melbourne hackerspace. And, yeah.

**Chris Gammell:** Yeah, it seems like they pushed a lot of stuff back out. I was watching that video, and it seemed like as they were walking through the lab, they said, oh, and we redid this, or, you know, we worked on this component of that. And so it seems like a nice active space. That's really cool.

**Dave Jones:** Yeah, it's cool. So there you go. I've been to the Melbourne hackerspace twice. I haven't been to the Sydney hackerspace once. I think you should do that this year. Yeah, this year. Yeah. It says you're an opportunist, doesn't it? I'll tell you something about my, yeah. You're a lazy piece of crap. I'll tell you something about my social, yeah, my social inclinations.

**SPEAKER_02:** Yeah. I'll have to tell your wife to push you out of the house more often. Right, yeah.

**Chris Gammell:** Yes. Well, speaking of the Raspberry Pi, they just announced an interesting new module for that. It's actually, you know, there's been boards that have been released, you know, like a bunch of different companies and everything have been doing. Plates or whatever they're calling them is actual, like, mountable attachment boards for the 26-pin header. But they just announced that the core team is actually working on a camera-based module to actually plug in directly and then have that as a native device, I believe.

**Dave Jones:** As in built into the, what, there'll be firmware support? Or, you know, well, there'll be software support for it, I guess. I'm not sure how it all works with it.

**Chris Gammell:** Well, what I was assuming is that since this is a mobile processor that, you know, a lot of the firmware will already be kind of synced in for phones, which have a lot of camera needs, right? Right, so that's why I assumed it was being done by the core team. But it's interesting just thinking about a lot more of the applications that you can do. I mean, there's an example video on Hackaday, which we'll link in. But, you know, just simple processing, you know, it turns a network-attached video into a very, very easy commodity now. I mean, it's like another $20 for the board, I think, and then a $35 baseboard, and it's $55, and you could set up a pretty sophisticated network pretty, I'm not going to say simply, because I have no idea what it actually takes. I mean, I know it says it runs OpenCV, but easier than probably getting down into the firmware of, like, a Logitech webcam. And I think probably even cheaper than, unless you're buying them, you know, at 5 megapixels right now, that's better than, I think, better than my camera, possibly, my webcam.

**Dave Jones:** And you're not going to believe it. This was actually an idea I had a couple of weeks ago.

**Chris Gammell:** I believe that ideas are a dime a dozen, Dave, aren't you? They are a dime a dozen.

**Dave Jones:** This goes to show I was going to combine a Raspberry Pi with a camera module and run OpenCV on it.

**Chris Gammell:** Yeah. And here it is. There you go. Ta-da! Got the jump on you. You know, I've had a board now for about six months. No, not six months. That's way too long. Maybe three months. And I've just, it's just been sitting there. I really, I've got it. I've got a whole box of them, dude. I know. Well, I mean, but it makes you wonder, too. Like, I mean, so they've sold a million units. I mean, I wonder just how many are dormant. I mean, they could be said for a lot of units, right? A lot of dev boards and stuff like that.

**Dave Jones:** I think we've talked about this before. And I'd say there's a large majority.

**Chris Gammell:** Yeah.

**Dave Jones:** I would say it's probably a majority of boards. People have, like, powered them up once or maybe even, like me, I haven't powered up my Raspberry Pi yet. I've got one. It's been sitting here. Along with, you know, 50 other boards I've got. And, yeah. And they don't do anything with it. So, it's, you know. Yeah.

**Chris Gammell:** Yeah. Dev board syndrome can be very dangerous. I feel really guilty with that, too. Like, when I'm talking to a vendor and they're like, oh, well, you know, we can get you an evaluation board or dev board. I'm like, yeah, yeah, sure. And then, you know, they come back about two months later. Oh, so how's that working out for you? You been writing code for that thing?

**Dave Jones:** Right.

**Chris Gammell:** Oh.

**Dave Jones:** Oh, that thing.

**Chris Gammell:** If any of them are listening, of course, I, of course, have been writing code for it. And it's been my primary thing. But, no, of course not. I mean, work gets in the way. You know, it's like, if you're lucky, you get to write code for it and get to learn all the quirks, right? That's why I like, you know, platforms like this are great because then when people design apps and, like, pluggable boards for that kind of thing, it's so much less of the hassle there, right? I mean, you don't have to go and learn a whole new compiler. You don't have to learn all the little quirks and how to get the serial console up and everything. It's just, ugh. Yeah. So, there's something to be said for standardization.

**Dave Jones:** Do people use their Raspberry Pi? Please tell us.

**Chris Gammell:** Well, I'm sure we, I mean, that's the thing, though. There's a power distribution, right? I mean, like, so, you know, the top 1% of users are also outputting probably 90% of the work. Exactly. You know, they're the developers, really, and the rest are just kind of consumers. Yep. But, I mean, there's a lot of good projects out there so people are learning. Actually, I bought Matt Richardson's book, Getting Started with Raspberry Pi. So, that'll help, hopefully, when I get to it. Right. Okay. Exactly. I'm going to open the book. The book looks nice. I like the book. Right. Oh, boy. Yeah. Oh, boy. You know, it's like that kind of thing. But, again, it's the accessibility that helps, too, because when it's $35, right, a lot of people say, well, just have it around. And now when I have a new project and, oh, well, I have this. I blew up those other dev boards I was trying, right? Yeah, that's right.

**SPEAKER_02:** Oh, boy.

**Dave Jones:** You wouldn't know what else is cool I saw in that? What else? Two other cool things I saw while I was. Oh, three. Well, one was the Agilent Standards Lab, which is different to their Cal Lab, by the way.

**Chris Gammell:** Oh, that's like an on-site kind of thing?

**Dave Jones:** No, no. Well, yeah, yeah, it's an on-site thing. But, yeah, there's actually a significant difference between a Standards Lab and a Cal Lab. Yeah. Which I'm sure I'll probably. Yeah, Standards Lab.

**Chris Gammell:** Calibrates the stuff that the Cal Lab. That the Cal Lab.

**Dave Jones:** That the Cal Lab's use. Uses. Exactly. Yeah. Yes.

**Chris Gammell:** Right, so it's like if there's a standard resistor, they go and measure it on a daily basis or a weekly basis.

**Dave Jones:** Yes. Or the Standards Lab calibrate the calibrators. And I just uploaded a video on that last night. Yeah, I saw that one. Yep. That was just a quick five-minute impromptu chat. So the problem with those impromptu chats is that, A, we talked about, you know, you should have gave me a whole list of questions I could have asked. Well, you know, it's like you're just having an impromptu chat and you're filming it. And, well, you get what you get, you know, it's sort of. Yeah.

**SPEAKER_02:** Yeah.

**Dave Jones:** Yeah, I know. Wait, wait, wait. Yeah, I could have asked 20 million more questions, you know. Yeah. Well, yeah, you just don't think of them at the time because you're in a hurry or, you know, or it's just an informal chat. Starstruck.

**Chris Gammell:** Ooh, calibration engineer.

**SPEAKER_02:** What do I do with him? Oh. Oh, boy. Yeah.

**Chris Gammell:** It's a tough business to be in, you know. The Keithley Lab around here, there's a standards lab here, too, in Cleveland. And I didn't go near it. It scares the crap out of me, you know. Why? It's like I don't want to touch anything and I don't want to break anything. I don't know. It just seems like it's just that's beyond my pay grade. Got it. Yeah.

**Dave Jones:** They were complaining to me about how, yeah, it's they're all going to die out soon because all these companies, you know, all these original equipment manufacturers, they're starting to shut down their cow labs, you know. And they're vitally important to keep them going and, you know, and keep the, you know, keep all of the knowledge there and stuff like that. And he went, well, you know, look, I'm 50 and I'm the youngest guy here, you know. And it's like, well, you know, and every manufacturer is outsourcing their stuff. You know, like here in Australia, we had the Department of Defense had their own standards in Cal Lab, right? That's all gone. Because some bean counter went, well, just outsource all that, you know. Right. And then everyone else is doing that. And then several other, you know, large scale companies just here in Australia had their own standards in Cal Lab to the point where, well, there's only one left and that's the Agilent one. Yeah. You know? Yeah. And it's good for their business. Well, if some bean counter at Agilent says, well, we're not making enough, you know, margin out of that, well, we'll just, you know, we'll just can that. And what are we left with?

**Chris Gammell:** Hopefully they just say, well, we're the only ones. We should turn up the price. But maybe they won't. Maybe they just count. They don't think. I don't know. But it's tough, too, because there's calibration implications in shipping something, right? I mean, like, if something gets vibrated, like, I think we talked about the, what are they called, the stereophonic effect? What's someone where, no, no, not that one, where it's actually like the mechanical stresses induce electrical changes, right?

**Dave Jones:** That's the microphonic effect. That's the microphonic effect. But that doesn't damage components. It's actual vibrational modes which damage. Shock and vibrational modes which damage components. Right.

**Chris Gammell:** And then heat cycling from shipping and everything, too, right? Yeah, yeah, yeah. There's just, shipping is not the way to do it with tailed equipment, right? I mean, that's the reason for the truck.

**Dave Jones:** The amazing thing I found about the Agilent Cal Lab is it's one of the best, it's a standards lab, it's one of the best in the world. And a lot of calibration gear from overseas is shipped to the Melbourne Lab to get calibrated. And I went, what? That's weird. Maybe I'm wrong, man. Yeah. Well, maybe that will work then. Even stuff from the US comes to Australia. So, you know, there's not many of these labs left.

**Chris Gammell:** Do they cross-measure? Like, okay, so here's what we think it is and then we'll send it to you and what do you think it is?

**Dave Jones:** Yes, all of these standards labs, that's how they work. They each, you know, they cycle gear between each other and keep them all in constant check and, yeah.

**Chris Gammell:** It's like a measurement chain letter. Yes. Send this standard 100 ohm resistor to all of your friends or else a great curse will befall you. I never did chain letters. I was just on the cusp of that. I never, I never, no one ever sent me a chain letter, Dave. Right. So sad.

**Dave Jones:** Oh, it's terrible. Yeah, I used to get them, you know. Yeah. In the mail, they were actual real, right. Okay, Nigerian princes. Oh, boy. And the, you know, but there's some gear you can't ship because you've got to leave it running 24 hours a day, seven days a week, like the cesium beam clocks, which is another interesting thing. I had a look at, and you'll see the video on it, it might be today's teardown. Even though it wasn't really a teardown, we just sort of popped off the lid on this thing. Oh, yeah, I saw your picture of that on Twitter. Ah, right, yeah. It's one of the original atomic clocks from 1971, I believe it is, that flew on the planes in opposite directions around the world and proved Einstein's theory, you know. Yeah. That clocks do actually run. Yeah, yeah. So it is actually one of the original clocks used in that experiment. And they were just going to throw it out, you know. But somebody actually went, oh, look, this is the original one used, you know, and we'll keep it. So, yeah, it's awesome.

**Chris Gammell:** See, like being around that kind of stuff, that just wigs me out. Like being around like historical stuff like that. Yep. Because I break so much stuff on my own that I figure the more important it is, the more likely I am to break it. I mean, like. Right.

**Dave Jones:** Well, you can't really break this, it's already broken, because the cesium have a limited life. They only have about a 20-year life, and then all the cesium burns off. Indicase. And you have to replace the tube, you know. And so, well, this thing doesn't work anymore, it's just too old. Oh. I'm sure if you put a new cesium beam in there. Well, if someone would tell me that, I would be fine then. Yeah, well, yeah, exactly. So, it's not really a teardown, but I'm, you know, I'm busy at the moment, so I might just make that today's teardown video. Teardown Tuesday is just, you know, 10-minute talk about popping the lid off this cesium clock. So, sorry in advance, people.

**Chris Gammell:** Yeah, nobody watched Dave's videos. No.

**Dave Jones:** Well, I'm probably already going to get complaints about all this, but, you know, I think it's interesting stuff. Like, I've already gotten complaints about the calibration videos. Oh, this is boring, this is bad shit. Well, yeah, okay. Yeah, too many people it is, right? Yeah, exactly. You just do what you like.

**Chris Gammell:** You know, it's good for them.

**Dave Jones:** It's interesting to me, anyway.

**Chris Gammell:** So, tough titties. Exactly.

**Dave Jones:** Yeah. Anyway, that was a very cool thing to see. The other cool thing I saw, because, well, we might as well talk about my trip.

**Chris Gammell:** Might as well. Because these things don't usually happen to me, right?

**Dave Jones:** Exactly. Well, I don't get out much, you know. It's a big deal. And I went to the Australian synchrotron. And so, what is that? A synchrotron is like you know it. It's like a particle accelerator, like the Large Hadron Collider, et cetera, et cetera. Oh, okay. Right? But, yeah, it does accelerate the particles, right? But the difference between a synchrotron is they actually store them. They put them in a storage ring. So, in a regular particle collider, like the Large Hadron Collider, they just, you know, they just put them around in opposite directions. And then they just slam into each other, right? Bang. And then you get measurement data from that. Whereas a synchrotron, actually, yeah, they have an acceleration loop. But then it goes into a storage loop. And they can store that current. They actually define it as current. So, this can store up to 200 milliamps of current for like a week or something like that in this storage ring.

**Chris Gammell:** And is that just based on the efficiencies of like the helium cooling of the, like the efficiencies of the magnetic rings?

**Dave Jones:** Primarily based on the vacuum. Because you get a loss. As the beam travels around, if you aren't in an absolute pure vacuum, it hits other molecules and, you know. Oh, then. Gas and, yeah. And, yeah, they sort of, yeah. It degrades. So, you'll see on my video, you can actually see like the little sawtooth waveform as it's pumping more current in to keep it a constant current. So, I actually got that shot of, I took an oscilloscope, a shot of the oscilloscope that was measuring the main beam current in the whole storage loop. And you can see that little sawtooth effect as it just went, oh, I've dropped below a threshold. I'm going to pump a bit more energy into the storage ring, you know.

**Chris Gammell:** So, it's basically like an electron, what are those called? Oh, jeez. Wah. Wah, wah. Time's up.

**Dave Jones:** Anyway, very cool. And the idea of these is that when you've got a storage ring like that, then every time you bend this beam, i.e. it goes around. Because people think these things are a circle. They aren't actually a circle. They're actually straight bits and then a tiny bend and then another straight bit, tiny bend, you know. Yeah. Because every time you bend one of these beams, it creates synchrotron radiation. And that's, you know, it actually emits synchrotron radiation. So, at each bend in this storage ring, it generates, it emits synchrotron radiation. Then you can put that into what's called a beam line, which has the particular measurement gear you're after. So, this thing, because it's, you know, a huge, big ring the size of two football fields, right, you can have up to, this one has nine functional beam lines coming out of it. But it can have up to, like, 30, I think. So, you can have 30 different instruments all measuring different things all at once. You know, so you can have one measuring the quality of the beam, another working on, you know, surface physics, another doing x-rays and stuff like that. So, you can get different wavelengths of light from the infrared right up to the hard x-ray stuff out of any of the beam lines from the same beam. It's really cool.

**Chris Gammell:** So, what I'm hearing is if you stood by the bends, you could become the Hulk because you'd get irradiated. Is that right?

**Dave Jones:** Well, you could. It depends on what comes out of it.

**Chris Gammell:** Right.

**Dave Jones:** Because, like, I actually put my hand inside the beam. That was coming out. Really? Out of the beam lines. Yeah, because it was the visible spectrum. It had passed through visible filters. So, yeah, there's quantum wigglers. There's, like, there's different instruments. That's actually a name. I think I got it right. And there's undulators and wobulators and all sorts of things which actually changed. These are real names. That changed the properties of the beam coming out of the main storage ring. So, if you want to x-ray stuff, then you would have an x-ray gadget. Confabulator. Yeah. Confabulator. That you stick in series with the beam and it converts it into the x-rays you want. Or another one, which I stuck my hand in, was the visible one. So, they want to measure the visible quality. Well, yeah.

**Chris Gammell:** Check this joke out. We're going to play on this guy.

**Speaker ?:** Yeah.

**Chris Gammell:** This guy from Sydney came all the way down here. We're going to irradiate him.

**Dave Jones:** Force for it every time. Suckers. And it's very cool. So, there's all these, you know, different measurements all going on at once. And, yeah. It's primarily one of the major uses for this thing is, like, to measure surface properties of stuff. So, it's like a scanning electron. Oh, cool. No, it's probably not like a scanning electron, but they move the object. Like, bounce stuff off of other things? They bounce stuff off other things and you can determine the makeup of the entire surface. Or, if you've got x-rays, the entire 3D surface of something. So, you know. So, basic research into basic materials and stuff like that. You know. Really cool. Air compressor. Huh?

**Chris Gammell:** That's what I couldn't think of before. Air compressor. It was an air compressor. Yeah. When you're storing up the storage rink. That's what that was. I had to get it out. I was just waiting for a break. A pause. Air compressor. That was one. Yep. All right. So. You know what always bugs me? I know this is another annoying superhero reference. But did you see in Iron Man 2 when he builds that so-called particle accelerator in his house?

**Dave Jones:** Oh, yeah.

**Chris Gammell:** Yeah. And then he bends the beam with a prism. But there's nothing going through it. It's like, come on. I'm sorry to get all nerdy there. But come on. Like, seriously. That would never work. It would run out, like, immediately. Unless he had a storage rink somewhere. Maybe he had a storage rink. Who knows?

**Speaker ?:** Yeah.

**Chris Gammell:** There you go. Wow. That is really cool, though.

**Dave Jones:** It is very cool. I've never been to a big physics thing like that before, which was much in danger of being shut down, by the way. Yeah. Right. That's the kind of thing where it's- Unusual government incompetence, you know?

**Chris Gammell:** Yeah. It's hard to see. It's such a long timeline with those kind of things, right? It's like, okay, well, you're bouncing x-rays off something today, right? And then someone looks at it and says, well, why the hell do you need to do that? And it's like, well, we don't know. We're doing research. We don't know what we're researching yet. That's what research is, right?

**Dave Jones:** Well, this one's a bit better in that respect. This one, they have lots of companies coming to them. Look, I want, you know, I've got this new material. I want to see, you know, how it performs or something like that. They had another example where they, the rice industry came to them with a grain of rice and they cut it in half and they put it in the beam and they were able to scan every molecule in there and tell them where all of the nutrients and stuff were, right? Really practical stuff. So all these companies come in and pay to use it. Yeah, but then they have to scan every grain of rice. Well, no, one is good enough.

**SPEAKER_02:** It's representative. Right, right.

**Dave Jones:** Right. So anyway, you've got all these commercial companies coming in, right? And they pay to use it for whatever purpose they need to. Yeah. That makes sense. As well as doing the basic research stuff, you know, there are tons of unis, you know, sort of doing basic research on things. Right, but there's no money in that.

**Chris Gammell:** Come on.

**Dave Jones:** No, no, there's not. And that's why, you know, it was threatened to shut down. It was only, you know, even the New Zealand government had to buy into it to help save it. They actually bought a share in it. Yeah.

**Chris Gammell:** Jeez, you've got the kiwis holding you guys up, huh? I know. Ridiculous. Way to go, kiwis. Man.

**Dave Jones:** Unbelievable.

**Chris Gammell:** You're my favorite country from down under. Better than Australia. Go kiwis. And then, of course, there were... I'll suggest a piece of stave off.

**Dave Jones:** And then, of course, all the scientists who worked there got the heebie-jeebies that, oh, my career's being wasted here in Australia working at this synchrotron that's going to get shut down. So they all started fleeing, you know, to other synchrotrons around the world, you know, where the career... Yeah, so...

**Chris Gammell:** CERN.

**Dave Jones:** You know, oh, it's crazy. Anyway. CERN would be great.

**Chris Gammell:** It would be.

**Dave Jones:** I actually was invited of a tour. I was... He said he could get me a tour of CERN as well.

**Chris Gammell:** Oh, fancy. Look at that. Yeah.

**Dave Jones:** All I have to do is get there.

**SPEAKER_02:** We've got celebrity on our hands. Oh, boy.

**Dave Jones:** Unfortunately, it's one of those last-minute things, you know? Like, this was, like, actually a range, you know, at the last hour. And I rocked up and sort of, you know, these are real busy people, you know, working on, you know, trying to keep this thing running and doing research and everything else. And...

**Chris Gammell:** Mm-hmm.

**Dave Jones:** But they spared the time to give me around. But, yeah, sorry if it comes out a bit fragmented, the old video on this one. It's... It was shot on the run, folks, literally, as I'm running through the facility. Yeah. Yeah.

**Chris Gammell:** Well, that's okay.

**Dave Jones:** It's not easy. We'll talk about this before the show. I'd need a cameraman and, you know, and a sound guy and an editor and, you know, everything else.

**Chris Gammell:** I'm sure we could get some volunteers. I'm sure we could. Right. It's just you'd have to pay for them. Yeah. I got that. Yeah. Buy him lunch, at least.

**Dave Jones:** No, well, yeah. Yeah. I have to feed myself and Sagan.

**Chris Gammell:** Yeah. And hopefully your wife, too. Yeah.

**Dave Jones:** Well, she's back at work now. She can feed herself, you know.

**Chris Gammell:** Okay. There we go.

**Speaker ?:** Yeah.

**Chris Gammell:** All right. Well, that's good, man. Sounds like a really good trip. I mean, it... Yeah, it was fun. It's good to have you back. Did you get a chance to listen to last week?

**Dave Jones:** No, I didn't. Sorry. Oh.

**Chris Gammell:** That was a good interview. Andrew was a good guest.

**Dave Jones:** Well done. Thank you very much, Andrew, for... Sorry I couldn't be there. Well, we were going to have Mike on. We did announce that the other week, didn't we?

**Chris Gammell:** Right. Yeah, we'll get to him in the coming weeks. That was postponed. We wanted to make sure you two could argue, so that's the reason behind that.

**Dave Jones:** Right. Okay.

**Chris Gammell:** We were sure that you two were going to have a go at it, so...

**Dave Jones:** Why would we argue?

**Chris Gammell:** I don't know.

**Dave Jones:** Are you over what?

**Chris Gammell:** I don't know. You two... Ah, you pommie bastard. Best practices, you know, I don't know. I don't know. Aussie versus UK.

**Dave Jones:** Yeah, there's lots of rivalry there.

**Chris Gammell:** Oh, yeah. Yeah. I don't know.

**Dave Jones:** Not as much as with the Yanks, though.

**Chris Gammell:** No.

**Dave Jones:** I don't know. It's different. Actually, yeah, the rivalry is more between us and the UK, I think. The Yanks are someone we just love to hate. You know, we have that love-hate relationship with.

**Chris Gammell:** With, like, the pomms, you can, you know, fight for second place, right? Right. Anyway. Ah, boy. So, I have a thing going on around here. I just got some populated boards back in. Right. And I wanted to talk... Is this for home or work? This is for work.

**SPEAKER_02:** So, I wanted to talk... Or is it a super secret? No, I cannot. Secret squirrel?

**Chris Gammell:** Secret squirrel. All right. But I wanted to talk about bring-up, like, board bring-up, and what you do and what I do. And just... I thought that was a good topic for... You know, because I was actually looking for it. And there's, like, no checklists online. You know, that seems like something that would be helpful. It's like, do this, do this, do this, do this. Obviously, it's going to be different for everything.

**Dave Jones:** I was going to say, it's pretty obvious. If it's your design, you're going to know what's needed. Yeah, yeah, yeah. But there is one basic tenet, right, is to make sure it doesn't... Blow up. ...release the smoke. Yeah. Is it drawing the current you expect? So, that's the first thing. You put on a current limited supply, you wind the wick up, and, well, you know, does it go over current? No, or yes. Yes, you're in deep shit. And no, well, you know, great. Okay. I can at least power this thing on. It may not do anything, but... Because there's a fault somewhere in it, but at least it's not drawing excess current and the magic smoke's not going to escape.

**Chris Gammell:** Right. That's got to be number one, surely. Another corollary to that, I would say, is if you do have sensitive circuitry and you have the option to leave that off at first. I know that's kind of weird to do, like, selective... If you can, you know, sometimes when there's surface mount stuff, you can't do that, but if you can pull a jumper or something like that. It depends how you design it.

**Dave Jones:** Well, I was going to say, if it was sort of like a development, first cut development version of the board, you might have included jumpers on there to isolate sections for the specific testing purposes. Because sometimes you don't jump right into the production board. You're just doing a development test bed, perhaps, which will have all that sort of cool stuff. You know? Right. It'll even have little current shunts in there so that you can put your current meter in there and measure the current of different parts of the circuit so you don't have to hack the board and, you know, stuff like that.

**Chris Gammell:** Yeah, that's a good idea, too. I've got one of those on there. I've been a little zero-ohm happy. I put those everywhere.

**Dave Jones:** Right. Okay. Yeah.

**Chris Gammell:** I like those better than just the jumper, just like the dog bones, specifically, because...

**Dave Jones:** Oh, no, I like the two-pin headers, because then you can actually, especially for isolating power and stuff, because then you can get in with your multimeter and actually stick, you know, leads in there. Yeah.

**Chris Gammell:** Oh, you're saying because it's easier than pulling up like a surface mount resistor and tacking on wires, that kind of thing? Yeah.

**Dave Jones:** Yeah, exactly, which is really ugly, you know. Yeah.

**Chris Gammell:** Yeah. So, you know, I get all the usual stuff on there. I've got auxiliary circuits to try a couple things, because this is an early board for me, but, you know, auxiliary circuits to try stuff out, a lot of different population options. So that was all, yeah, I thought of all that stuff beforehand. I mean, so that was good. Something that was asked about before, or before the show, someone asked me was, did I put test points on there? Because I was complaining that I had already thought of other things that I'd forgotten. But I did remember test points, and that's always a good one, too. I don't know, do you prefer through-hole test points or surface mount?

**Dave Jones:** Oh, through-hole.

**Chris Gammell:** Yeah?

**Dave Jones:** Yeah, then you can solder a pin into them, you know, and you can hook a probe on permanently without having to, you know, put wires in there and stuff like that. But it depends if it's a development or a production board, right? Oh, yeah, those little loops, those little through-hole loops. No, the surface mount. Yeah, surface mount.

**Chris Gammell:** They're just like a metal surface mount loop. I really like those, because they're a little hard with the angles to get a clip on there, like for probes and everything, but usually it's okay, as long as it's not, like, real space constrained with tall parts around it. Right. So those are cool.

**Dave Jones:** Now, did you build this board yourself, or did you have someone else assemble it?

**Chris Gammell:** No, someone else assembled it, and someone else did the layout, but I was working with them on the layout.

**Dave Jones:** Ah, okay. Right, so it's not a solo design, then?

**Chris Gammell:** No, no, no, no. I had done a test board before that where I did solo design. I did everything, like, it was just a test coupon, really. Right, yeah. But this is kind of getting into it, so. So, yeah, it's tough, man. I definitely prefer doing my own stuff, but I mean, with workflows and companies, it's just, you know, something you have to do sometimes. Because your bandwidth gets lowered so much, you know, it's just like, you have to translate from, instead of just brain down to finger clicking on a PCB program, like a layout program, it's now write an email, or go talk to them, or, you know, call them. And it's just, ugh. Humans, yeah. No, I didn't mean that. I meant this. Let me show you, you know. It's like, like, the person I was working with was actually really good. It was often my explanations that were stupid. You know, that was, it's just the human element of getting that communication down. Ugh, it's terrible.

**Dave Jones:** Yeah, it's not easy sometimes.

**Chris Gammell:** Right.

**Dave Jones:** Mind meld, Vulcan mind meld.

**Chris Gammell:** Exactly. Yeah.

**Dave Jones:** Oh, boy. That's a tough part, you know. But then it probably still would work, because people process and think things differently, you know?

**Chris Gammell:** Yeah. So, yeah, yeah, yeah, it's true. I guess it's helpful if you can do, like, I guess, you know, you've said, you've said before, and I agree with it, you know, like, if part placement on a PCB is so much, so much of the job, it's probably, what, 80% of the job. So, if you can, if you can get a hand in that, that always helps. And that's, that's when it ultimately ended up doing it, so. Right. But, yeah, other bring-up stuff I was thinking about, I don't know, like, I guess there's, so power's a big one, obviously. Mechanical fit and function, if you've got, like, packaging, was another one. Yep. Like, stress points, another thing I was thinking about is, there's actually these, this enclosure I'm using has, like, some hold-down features, and I was actually trying to push it in there, and I'm like, oh, crap, you know, like, you can start to feel where, where the board starts flexing, and you can actually get, you know, because that's the, that's the worst kind of errors, when, when you have those flexure errors, where, you know, you're pushing down on something, and it, it's, it sounds bad, but it doesn't ultimately look bad, but then, you know, a trace is broken, or the resistance goes up on it a lot. Right.

**Dave Jones:** Well, that, that's, that's pretty serious, if you're, you know, if it's being flexed that much, that, that shit's changing, you know what I mean? Yeah. I think you've gone a bit far.

**Chris Gammell:** So I shouldn't use a hammer, is that what you're saying? No, no hammers? Oh, boy. Yeah.

**Dave Jones:** Yeah. That's a red flag, folks.

**Chris Gammell:** Yeah.

**Dave Jones:** If something's changing value, or doing something because you're flexing your board, man.

**Chris Gammell:** Yeah. I mean, yeah, that is bad, but, I mean, you have to, you have to prepare for the worst, right? I mean, especially if your manufacturing is remote, that, that's another problem, because the lead time on, on when those errors come back to you, you know, like, when there are those soft errors like that, because if it's not like a complete break, if it's just like a resistance change, or, you know, like you start to, you know, like a trace changes capacitance or something like that, and your design is sensitive to that for God knows what reason, that's not going to show up easily, you know?

**Dave Jones:** Holy crap. These things are pretty subtle, you know? Like a, a track changing capacitance or a track changing resistance. These things are really happening. I know, I'm just saying worst case. What the hell are you doing to this board, man? Is it sitting on top of a Saturn V rocket or something? What's it?

**Chris Gammell:** Yeah, right? Yeah. No, it's not.

**Dave Jones:** Man.

**Chris Gammell:** Did you, uh, did you see that video? Was it Fran that did that video?

**Dave Jones:** Yeah, Fran did the, uh, yes. Saturn V. Yes, awesome. She reverse engineered the Saturn V. I haven't watched it in its entirety. I watched some of it. Yeah, it's great.

**Chris Gammell:** Yeah, it was like an LVDS controller or something. I didn't, I didn't watch either, but I saw, I saw some of the images, the stills from it. And, uh, it was pretty cool. I don't know how she got a hold of that thing. It must've been like a, like a surplus buy or something.

**Dave Jones:** Yeah, somebody, yeah, somebody gave it to her, I think, way back in the day who used to work. She's, she's had it for a long time, I think. Oh, cool. Um, it's a story. Yeah. It's, uh, yeah, all that sort of stuff lost in the annals of time.

**Chris Gammell:** It doesn't even take time for that kind of thing. That takes a hard drive crash and you could be screwed. Right. That takes a, that takes a CAD program conversion, you know, and you're, you're toast. You'll never get that back. Oh, we thought tape was going to stay around forever. People don't use tape anymore.

**Dave Jones:** Man. We had 40 megabytes of storage. That reminds me of the, uh, Voyager. Was it the Voy, yeah, uh, no, it was the Pioneer. The Pioneer 11. Um, there was an article in, uh, IEEE the other month. Um, yeah, I've got it. Oh, ah, I do have it here. It's within reach, but I won't get it. Um, yeah, they did an article how, um, the, you know, the Pioneer space probe, I think it was Pioneer 10 or 11. I think it was 10. Um, you know, which is the farthest, thirdest object from us now. Right. Because it's been going since, you know, the late sixties or early seventies or something. And, um.

**Chris Gammell:** Is this the one with the gold plate on it? Is that the one? Uh, that's Voyager. That just left the solar system?

**Dave Jones:** Voyager had the, uh, gold plate. Yep. The one that was done by Cole Sagan. Yeah. Yeah, yeah, yeah. That's on Voyager. Um, and anyway, this is the earlier ones from the, uh, from them, the, uh, Pioneer. And, um, they were, um, they had lost all of the tapes. Like, the tapes had all just, you know, vanished. And then somebody found a copy of them hidden under some stairs or something in an old building at NASA or something like that. And, uh, and they tried to recover the data and, oh, it was like, you know, all this stuff. They just, you know, they've just lost. Even the, uh, Apollo, even like massively important to the human race, right? Original footage from the Apollo 11 moon landing. Lost. Right? Yeah. You know, like completely, like all the original tapes, lost, gone, you know, like it, it, it's hard enough reading the back even if you do have them, let alone, you know, yeah, just losing these things.

**Chris Gammell:** It's nice for like when they do recover that stuff, it makes for a good story, but, uh, yeah, it'd be better if there was like triplicate copies of everything. That would just be better for history, you know? Yep.

**Dave Jones:** Anyway, the, the Pioneer story, um, was that, yeah, they were one to recover all of this, uh, original data because they wanted to reanalyze it using modern techniques to prove that, um, oh, no, I'm gonna, I'm gonna get this wrong. To prove some aspect of relativity or something. No, the spacecraft, that's right, the spacecraft showed acceleration, right? It went like the, the data, they'd, they'd hinted at this data for decades that the spacecraft was actually accelerating and they couldn't account for where it was coming from, where, where this acceleration. And they thought, oh, maybe it's due to dark energy, right? Which they're trying to, you know, which they're trying to detect and all that sort of jazz, right? Which makes up like 90% of the universe, apparently. And they thought, aha, maybe it's that. And, uh, it, um, it turns out, no, they reanalyzed all this data, right? That they found on these lost tapes or backups of the lost tapes or something. And they analyzed it and it turns out that they're almost 100% confident that the acceleration was due to the heat effect coming from the radio, uh, coming from the, um, thermal generator on, that's, uh, powering the unit itself. So the heat coming from that is bouncing off one of the metallic parts of the spacecraft and actually giving it a slight little nudge, you know, just that heat, you know, like, like that solar sail thing. Right? Yeah. And that was enough to accelerate it. And they actually, you know, it took them 30 years to figure this out. And they finally, they finally said they've nailed it. Yeah. It's not, not due to dark energy. Sorry, folks. It's, uh, you know, or anything other mysterious. It's just, yeah, the, the heat coming from the 60 watt generator on the, on the probe. Oops. You know?

**Chris Gammell:** I figured it was just going to be a measurement error or something, you know, like, uh. No, no, no. I guess her, I guess her probe's broken.

**Dave Jones:** Yep. No, it was real data. They were actually right for the last 30 years. They've been looking at it going, this thing's accelerating. Why? And they couldn't figure it out.

**Chris Gammell:** Yeah.

**Dave Jones:** Sure enough, some smart cookie came along. Yep. Re-analized the data.

**Chris Gammell:** That's what I wonder about. So, like, I mean, they're, they're still measuring data 30 years on, you know, they're still using the same code. Obviously, the guys that are, that did the, the Mars Curiosity rover did some amazing code as well.

**SPEAKER_02:** Yep.

**Chris Gammell:** But I just wonder about, you know, like how electronics are made now versus back then, you know, there's just so much focus on quality because it started out so crappy. I just wonder if, you know, if you send the same stuff into space.

**Dave Jones:** Well, I think the quality might be a bit of, a bit of a red herring because systems were much simpler back then. They were larger and much simpler, therefore inherently more reliable. Mm-hmm. Whereas nowadays, right, you know, like something like the Curiosity rover, right? It's got some heavy duty physics and engineering and, you know, electronics and software packed into that, right? Yeah. It had 800,000 lines of code just to land the thing, right? I mean, it, yeah, it's crazy, right? So they're inherently less reliable these days, I think, even if there's better engineering that goes into it.

**Chris Gammell:** It's just a complexity thing.

**Dave Jones:** I think, it's just a complexity thing. Yeah. I am.

**Chris Gammell:** Yeah, because you wouldn't, I mean, you wouldn't think that the quality, I mean, obviously, I think they spent more back then.

**Dave Jones:** Would get better, right? Well, they, you could argue they spent more.

**Speaker ?:** But, yeah, you could argue they spent more.

**Chris Gammell:** But, yeah, you think the advances would help in like, you know, fat technology and everything else.

**Dave Jones:** Advances in engineering and, yeah, you know. Materials. And manufacturing components and materials and soldering and all sorts of things. You know. Yeah. There's much more research that's gone into it these days and they know all the traps.

**Chris Gammell:** Well, it very well could last. I mean, I really, obviously, we have no way of knowing that yet, but. No, that's right. It just, it's amazing looking back at that stuff that it has lasted. I mean, it's just, you know.

**Dave Jones:** Well, the other key with these things is the backup systems. You know, they've got backups upon backups upon backups. And you can agree. And if it crashes or something, you could, you know, take over the backup computer. If you don't, if you find out there's something wrong with the code, you can re-upload the code. You know. Yeah. Yeah. It's, they're very versatile systems. So, the versatility is also a reason for their apparent quality, I guess. Yeah.

**Chris Gammell:** Yeah.

**Dave Jones:** And reliability. So, it's built into the system design.

**Chris Gammell:** Yeah.

**Dave Jones:** I think that's a reason anyway. I could be wrong, but. They're great. I love these systems. They're fantastic.

**Chris Gammell:** So, any other, any other ways to make my system more reliable? You didn't really, I guess power was the only one that you had for me. I'm looking for help here, Dave.

**Dave Jones:** Maybe, well, maybe you've got to get a whole team of NASA guys into, you know, who specialize in reliable systems, you know.

**Chris Gammell:** Yeah. Yeah.

**Dave Jones:** Well, you know, these systems have to be more reliable. You know, they put years and years of just, you know, you simulate everything, right? We just, you know, if we're working on it, you know, if we're one or two engineers working on a board, right? We can't afford to spend six months, you know, building systems to simulate aspects of it to make sure when it actually goes, you know, when it's actually built, it does actually work.

**Chris Gammell:** Right, right.

**Dave Jones:** Whereas that's what these big NASA-type systems had to do, right? You know, everything, you know, you only get one shot at it, so you have to spend, you know, billions and trillions of dollars and thousands and tens of thousands of people, you know, working on every aspect of it to ensure that it does work. Huge difference in physical resources and human resources. Yeah. If you're just the one guy who designed his board, eh, you know, it's like, eh.

**Chris Gammell:** Right, well, yeah, you look at the failure rates to get past the Six Sigma mark, usually you have to put in, you know, some god-awful amount of effort to get past that, right? I mean.

**Dave Jones:** Exactly. You, as the designer, know that, you know, look, I'm sure that 90% of it's going to work and 90% is good enough. You know, we're going to have to re-spin the board anyway. Right, well, you know, if you have a few, you know, you expect that. You expect a few issues on your first spin of the board and you can always re-spin it, right? Yeah. It's, but if that probe's gone into space, you can't just, you know, can't just send another one.

**Chris Gammell:** Well, you would re-spin it a couple of times before you'd even send it to testing, right? In that kind of case. Yeah.

**Dave Jones:** You know, and, yeah, that's the difference. We, we, it's probably, it might even be a mindset. Well, it's, it's got to be, you know, it's a resources thing as well, but it's also a mindset issue as well. You know, if you know it's not, you know, the world's not going to end or your, you know, billion dollar probe, you know, is going to completely fail if you don't do it right. You know, if you know, well, it's just a board, right? Do it all the time. Yeah. I can re-spin it. Yeah. Whatever. You know, like, it's just a different mindset, I think.

**Chris Gammell:** Well, so then our, I guess the next question would be is, you know, like your, the calibration guy you talked to lamented the fact that engineers aren't going into calibration. Do you think, do you think the same kind of thing happens with like space type electron? I mean, sure, there's people, younger people out there, you know, working on this stuff, but definitely not in the same numbers that are, you know, the aging workforce.

**Dave Jones:** Yeah, but they're still in their tens of thousands. It's not like there's two guys at NASA left with long gray beards who know how all this shit works, you know. If you had a look at all the videos for all the, for all the Mars Curiosity rover stuff, you know, like the average age there has got to be less than 30, you know, of people working on this stuff. They're all young people.

**Chris Gammell:** I just figured those are the ones they put on camera. The other ones are in the back, like, growling and eating gravel, you know. Doing all the real calculations. That's just my assumption. You know, the ones that were on camera were great too.

**Dave Jones:** No, I think there's the sheer size of that, of that endeavor and those endeavors that, you know, there's just so many people working on it. You can't sort of, you know, it's hard to lose that knowledge, but.

**Chris Gammell:** Yeah.

**Dave Jones:** Yeah, maybe. But, but, but you do lose a few things. Like, there's no way, you know, if we went to the moon, if we went back to the moon now with humans, right. You know, the, just the mindset is so different these days. You know, we would, you know, some of the stuff that they used and flew in back then, it was like, God, it wouldn't even pass a first crack at an OH&S, you know, safety.

**SPEAKER_02:** Oh, yeah.

**Dave Jones:** You know, like, there's no way you'd send humans up, you know, these days using the, using the methods and the technology they did back then. Right. You know, it's just, you know, it's a different mindset of, you know, people, you know, different ass covering mindset these days. Yeah. Yeah. You know, whereas back then you just did it, right? Yeah. You just, you know, yeah. I, I don't know, I weep for the future sometimes. Sorry, I have to quote Ferris there.

**Chris Gammell:** Well, I wanted to call out a course that is teaching the future and the right. We've actually mentioned it previously. But Dr. Analog or Kent Lundberg, he's, he's running a prototyping class at Olin and we've talked, we've talked about it before. Mm-hmm. But, but he's actually, he's got a blog up and people can follow it. And I wanted to tell people about it in case they, they wanted to. So you can actually follow along and effectively take the class alongside them. Like the first. Cool. I think the first class was like, design a blinking LED circuit. Go. Right. Which is great. You know, that's, that's how it goes. So, uh, I thought it was really cool and people should check it out. It's, it's a, it is a, a cool way to learn. Definitely different, different than, uh, the massive open online courseware stuff that's out there.

**Dave Jones:** Oh, yeah. There's so much of it, isn't there? There is. Yeah. Have you done any of those yet? No, no, I haven't. Well, I've, no, I've looked at a few. I signed up, you know, as always, right. I've signed up for a couple and I never get time to actually follow them through. Right.

**Chris Gammell:** Yeah.

**Dave Jones:** If you're, have, has anyone actually done these courses and actually followed them through as you're supposed to? Please let us know. Cause I, man, I just haven't got the commitment to do it. Um, you know.

**Chris Gammell:** Well, I do remember. So Philip Frieden, uh, Frieden, sorry. Uh, you've, we've had on the show before, right. From FlipTronics. Um, he actually went, he said he went through the MIT, the 6.002. Oh yeah.

**Dave Jones:** Then that one. Yep. Yeah. But that was just one, that was just one class, right?

**Chris Gammell:** That was one class, but it was like, it was like you were actually taking the class. He said it was 20 hours of work a week. I mean, that's. Wow. Yeah. You see. That's for real. So he actually did it. Yeah, he did it. Yeah. He, he got it.

**Dave Jones:** Oh, awesome.

**Speaker ?:** Yeah.

**Dave Jones:** Yeah. So it's. Yeah. These things require a huge commitment to actually do them properly rather than just, oh yeah, I sort of watched the video for five minutes. Yeah. I know what it is. You know.

**Chris Gammell:** It's no webinar, right? It's. No. Yeah. Yeah. Exactly. Yeah. That's right. That's the difference. You know, it's tough too because it is, it is, uh, it is kind of dry material, right? If you're learning, like, so there's another one on the list from this week about MOS transistors, right? And it's from Coursera and the, the Columbia University professor is teaching it.

**Chris Gammell:** And it's like, if you go through all the different syllabus and all the different things, I mean, like, it's not like, you know, using a MOS transistor to turn on an LED here. It's like, no, no, no. No, there's. This is how it works. I mean, this is, this is what's going on.

**Dave Jones:** There's no exciting way to do that. I'm sorry. It's. Yeah. You know, I don't care how nerdy you are. It's, it can be boring. That sort of stuff, you know, learning the fundamentals like that can be. Yeah. Incredibly boring.

**Chris Gammell:** You know, I was actually, I was, I was talking to my wife about this yesterday because it, so traditional schooling, like this kind of stuff, like I, I agree. It's totally necessary. If you want to learn how to, if you want to learn how to design transistors, you obviously know how to need to know how they work. Right. But I was so, I was so worked up yesterday because, um, you know, I've been, I've been learning CNC machining, right? I'm doing this. I'm working on this mill. And all I want to do is make something first.

**Dave Jones:** Make something. Yeah. Yeah. Yeah.

**Chris Gammell:** That's, that's the first thing. Right. Because I, and what I was saying is I started thinking about like, like coursework at school and like high school and college, everything like that. And it really started to get to me because I'm like, God, we just never had context. I mean, some people did. Right. I mean, like, like, you know, I've talked about, you know, like having hobby work is very important because that gives you context, a lot of stuff. And then you say, Oh, I want to learn how to design MOSFETs. I want to go and learn the physics of it. Right. And you have this image of what it is in your head. But if you don't have that stuff, you know, if I just, what I was really doing is I was looking at this, this jig and fixture book that I got out of the library that was suggested to me for machining. Right. You need to know how to like hold pieces of metal in order to cut them properly. Of course. And it's just the most boring book I have ever read. Right. Right. And I was flipping through it and I'm just like, well, it's boring because I have no idea what I'm looking at right now. You know, it's just that that's the tough part of it. And so what I did is I threw it aside. And I went back downstairs and I started cutting more stuff, you know, like just kind of figuring it out. And that's, that's the important thing. I don't get why that doesn't happen more.

**Dave Jones:** That's the age old. Yeah. Why? I mean, like why, why in schools? Like why, why in schools? We've talked about this a dozen times. What is it? The best way to teach engineering is to start off with the exciting practical aspects of it.

**Chris Gammell:** Is it the cost though? This is what I was talking to my wife about. Is it the cost that does that because it's expensive to go, you know, teach people in lab settings versus classroom settings?

**Dave Jones:** No, I don't think so. No. It's just that these, you know, stuffy academic types, you know, they think, oh yeah, I learned all the theory and that's what I'm going to teach, you know? And they don't, you know, I don't think they have any sense for any other way to do it.

**Speaker ?:** Man. Man.

**Chris Gammell:** I just, oh, I was really worked up yesterday. It was, you know, I was, I was, the other thing I was thinking about, the other thing I said to her was, I think part of it is, is like a tradition from, so if you're teaching children, right? So as, as they're learning, right? You know, there's certain things you can't just start with, right? So if you want to teach someone how acceleration works in a car, this is the example I was using yesterday, you know, you could start teaching calculus, right? That could be eventually, okay, you want to learn about acceleration? Let's start doing derivatives, right? That would be, but if you say that to a six-year-old, you know, there's actual human development issues in there too, right? I mean, there's abstraction and everything like that. So part of it is, yes, you need to have certain math skills in order to learn how acceleration works and the physics behind it and everything and the math behind that. But the thing I don't get is, you wouldn't go teach a kid about acceleration without saying, do you know what acceleration is? And they say, no. And then you get them in a car and you hit the gas pedal, right? So that's what, that's what education needs. They need the gas pedal, right? That they need that initial thing so that then kids could say, oh, I like speed. This is, this is good. Or I like blinking an LED or I like cutting wood with a CNC machine into funny shapes, you know, like, oh.

**Dave Jones:** I don't know if we should even cover this again. We've, we've talked about it a dozen times.

**Chris Gammell:** I know, we've done it a dozen times. But all, all I can think of, Dave, like what, what it ends up coming down to is like, I got to start a school. This is what it's going to be, you know? I got to start a school.

**Dave Jones:** Yeah, yeah.

**Chris Gammell:** I'm screwed, you know? I can't afford a school.

**Dave Jones:** And then you find out, well, you know, you've ultimately got to teach the boring stuff.

**Chris Gammell:** You do. You do. And not only that, the, the, the, the way that it's taught now is, is, is the, is the easy, not the easy way, but it's more conducive to mass distributed media, right? I mean, doing a lecture is a lot easier than going to someone's house and teaching them something and go to someone else's house and teaching them something. And, you know, ad nauseum.

**Dave Jones:** It is. Oh, yeah. It's, well, you know, I've never taught in an academic environment, but I can imagine it's easier. Yeah. I can imagine it's easier if you've got your set plan and you know it all and, you know, just follow the damn plan. Yeah. You've done it before. You do the same thing every year. So you know it down pat, and then you're not going to have any bastard come along and ask you tricky questions which you can't answer, which makes you look like a dick. Right? Yeah. But, you know, it's, I can see how that is much easier, but I, you know, if I was to teach, I wouldn't do that. I would do it more off the cuff. You know, I would go, right, we're going to look at.

**Chris Gammell:** You?

**Dave Jones:** This topic today. Yeah, exactly. Go figure. We're going to look at, we're going to talk about this today and then just see where the tangent takes us. Right? You know? And then, well, yeah, it's not, you know, I mean, you can't grade that sort of stuff. Right? So it's hard. I mean, it's. Yes. That's the other part. It's, yeah.

**Chris Gammell:** Subjective.

**Chris Gammell:** Yes. Did you try today? Did you show up willing to work?

**Dave Jones:** Did you show up and did you contribute? Right? That's how I would, and I think every course needs even, even schools, right? Even high schools, right? They need, and primary schools, they need sort of informal classes like that, I think. And, but no, you know, and to pass, you've got to not only turn up, but you've got to contribute, right? You've got to actively contribute. You know, you can't just turn up and sit in the corner. Right? And just, you know, bide your time and just listen. Right? You've got to actively participate.

**Chris Gammell:** We don't like listeners around here. We like talkers. Yeah.

**Dave Jones:** That's right. I mean, like doers. But I know it's impractical because you can't, well, it's not impractical. You can do it, but then you can't grade it. Right? So.

**Chris Gammell:** Right. Yeah.

**Dave Jones:** And that's what it all comes down to in the end.

**Chris Gammell:** It's a whole new paradigm. It's a whole new thing. Exactly. Papa's got a brand new bag.

**Speaker ?:** Yeah.

**Dave Jones:** But see, I would, and we may have talked about this before, and I would love it. Like if I knew that somebody, right, went to some school and say, let's say, you know, someone like Bob Pease was teaching there or, you know, any of the Bobs. Right? Your uncle? Yeah. Bob's your uncle. Anyway. Right. So, right. Someone like that was teaching. Someone really cool was giving one of these informal classes. And you had to participate and you had to, you know, and if you knew somebody did took that class because it had a reputation, because that, you know, the person taking it was absolutely awesome. And you knew what they could, you know, what, what they could deliver to the students. Then, yeah, I would hire that person over somebody else who got A grades in some freaking academic class.

**Chris Gammell:** Yeah. Right?

**Dave Jones:** So, you know, that could be the differentiator.

**Chris Gammell:** You know, that's like Larry Sears. We had Larry Sears on the show. That's his class at my alma mater, Case. Yeah, yeah. Right. That's that class. You take that class. You pass it. And I hear from someone that you were struggling and enjoyed it. I'll hire you in a second.

**Dave Jones:** I'll hire you. Exactly. Exactly.

**Chris Gammell:** And a lot of universities do have that class. And that's what people should seek out if they're, you know, if they're into it. Yep.

**Dave Jones:** One last thing we have. And then they should maybe have a rating system because how does everyone know that that's a good class? You've got to know these people. You've got to, you know, have followed their work or something like that. Yeah.

**Chris Gammell:** Well, portfolio sites, stuff we've talked about before, you know, like bringing stuff into interviews. That kind of thing helps. Yep. And those kind of classes bring that seed material. Like Kent's classes, it brings that seed material where, oh, well, you know, I tore all this stuff down. I built it back up. Here's all my reports. This is what I enjoyed. This is what I didn't enjoy. That kind of stuff is really helpful. It seeds you with all those ideas for putting in your portfolio.

**Dave Jones:** Absolutely.

**Chris Gammell:** So one last question from a listener we had. So basically he wrote in and he said he was real excited. He's going to community college. He gets real excited about this course. And then basically what we were talking about earlier is, you know, he went in these classes and there are all these near retirement teachers. And they maybe shouldn't be, but they're just kind of going through the motions. And so he's kind of having trouble with it because he got through the program, but it's not helpful. Right. And he said he's doing a lot of stuff online and stuff like that. And so his question for us was, should he kind of keep going? Should he, you know, go to another, you know, maybe a bachelor's, I don't know if this was a bachelor's program or not, but, you know, go get a master's, go, you know, go on, that kind of thing. Or basically just go out and try and find a job. And.

**Dave Jones:** Well, you know, if you're doing it, you probably have to, you know, the advice is you have to stick with it and get the bit of paper, I guess. Right. That, you know what I mean?

**Chris Gammell:** Yeah. Find your, find the job you want. And then see the minimum you can get to get the piece of paper. Yeah. I mean. That's what I emailed him back with too. It's tough, right?

**Chris Gammell:** Unfortunately, yeah, I know.

**Dave Jones:** Because some schools are a lot better than others. Some teachers, you know, there's vast orders of magnitude difference between various courses, various schools, various teachers. And, you know, I was lumped with a lot of, you know, absolutely useless ones, you know. And, but, you know, you hear some other people, oh, you know, I, I learned so much during this course. It was fantastic. And you go, well, you were lucky, right? You went to one that was good. Right. I mean. Yeah. Well, yeah. Yep. Tough tits. That's just the reality. Some people, yeah. Some people are going to do a shit course. Yeah. And, well.

**Chris Gammell:** Oh, man. I know. Oh, I have stories.

**Dave Jones:** And you can, well, yeah, so do I, right? And you can move, right? If you find that, well, you can move on. But then off, you know, onto some other course, try and find one that you like. But then you can spend more time doing that when, well, you should have just got your bit of paper and then gone in the industry and then, you know, learn on your own and done your own stuff. Exactly.

**Chris Gammell:** And in this case, networking, right? Trying to find someone to mentor you and then work with them, right? Mentors are going to be able to learn a lot of stuff anyways. So see if you can find a mentor in industry. Maybe try and get an internship with them. Get through to the paper points so you can get past HR. Or if you can see past them anyways, just do that. And, yeah, you know, that's a tough problem. It's gotten worse, apparently, you know, over the years. You need paper now, whereas you didn't necessarily before.

**Dave Jones:** And he's saying that his fellow classmates feel the same way. He's saying the majority of them feel the same way. I'd be surprised if he's taken a poll. But, you know, you can get the general gist of it. And, well, yeah, I mean, sorry, you've just ended up in a shit course. And, well, you know, I've done the same thing. So, you know, I feel for you, you know.

**Chris Gammell:** Well, it's tough, too, because, you know, education has become a really big business, right? I mean, it's just there's a lot of money in it. And so you've just got to be careful with that kind of thing. But I think Dave had good advice, too. Like, if you can move, if it is practical, you know, even getting online to try different online courses, you know, if you can do that kind of thing, that's helpful.

**Dave Jones:** Well, I've moved and kind of sort of regretted it because I ended up into another one, which was just this shit. Yet I wasted my time. And, you know, it's, you know, yeah.

**Chris Gammell:** Should have come to the States.

**Dave Jones:** Right. We're number one.

**SPEAKER_02:** We're number one. For now. USA. USA. For now. Oh, boy. Ah, yeah.

**SPEAKER_01:** What is it? You know, 40% of Americans can't even point out Africa on a map, you know? Yeah. Hey. Way ahead, dude.

**Chris Gammell:** Whatever. So I never learned my States, man. No big deal.

**SPEAKER_01:** But I can name all hundred presidents, you know? Yeah. And the Second Amendment, you know? That's right.

**SPEAKER_02:** Yeah. Eee.

**SPEAKER_01:** All right.

**Chris Gammell:** Well, that'll do us for this week. Yeah.

**SPEAKER_01:** We're done.

**Chris Gammell:** We have a bunch more links on the subreddit. People can check that out. Reddit.com slash r slash the amp hour.

**Dave Jones:** And always a million things we didn't get around to talking about. Of course. Of course. Yeah.

**Chris Gammell:** I was on iTunes this week and I was actually updating the feed a little bit. And if people are feeling generous, we would love ratings on iTunes. We think that really helps for bumping us up in ratings and such. And hopefully helping more people find the amp hour. So much appreciated. You can rate Dave's EEV blog feed while you're there. Blog as well. Yep. Yeah. Might as well. It's there somewhere. It's basically the same thing, right? I mean, come on. Exactly.

**Dave Jones:** Yeah. It's just me waffling on. Yeah.

**Chris Gammell:** In different. Around the world. Right. Yeah.

**SPEAKER_02:** Yeah.

**Dave Jones:** All right, man. Well. That's it. We'll see you next week. See you next week. Have we got a guest next week?

**Chris Gammell:** We'll see.

**Dave Jones:** Dunno yet. Do we? We'll see.

**Speaker ?:** All right.

**Dave Jones:** See you. Later.

**Dave Jones:** We'll be right back.
